.header01{
    --background:#EC6C1F;
    --color:#FFF;
    font-family: 'Prompt', sans-serif;

}
.font{
    font-family: 'Prompt', sans-serif;
}
.buttonAl{
    
    ion-button{
        --background : rgba(248, 28, 28, 0.76);
     
    }
    font-family: 'Prompt', sans-serif;
}
.font3{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-size-adjust: 10px;
}
.card02{
    font-family: 'Prompt', sans-serif;
    ion-card{
        height: 100px    ;   
    }
    text-align: center;
}
.btl{
    ion-button{
        --background : #289c19;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px;
    }
    font-family: 'Prompt', sans-serif;
  }  

  .btl2{
    ion-button{
        --background : #da1a1ac4;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px;
    }
    font-family: 'Prompt', sans-serif;
  } 

.bp1{
    font-family: 'Prompt', sans-serif;
    ion-button{
        --background : #EC5353;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px; 
    }
}
.bp2{
    ion-button{
        --background : #289c19;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px; 
    }
    font-family: 'Prompt', sans-serif;
}