<ion-header>
  <ion-toolbar class="colorBk">
    <ion-title>ใบเสร็จ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div><B>OrderNo. : ps001</B> </div>
<br />
<table class="pdt01"   ><FONT SIZE="2.5">
    <tr>
      <td>เวลาที่รับ : <label> 12.30</label></td>
      
      <td align="right">เวลาที่ส่ง : <label> 12.50</label></td>
    </tr>
    <br />

    <tr>
      <td >Service : เต๋า</td>
      <td align="left" >Rider : บีม</td>
    </tr></FONT>
    </table>
    <br />
    <tr>
      <td>ลูกค้า : <label> มาร์ค</label></td>
    </tr>
    
</ion-content>
