.header01{
    --background:#EC6C1F;
    --color:#FFF;
    font-family: 'Prompt', sans-serif;

}
.font{
    font-family: 'Prompt', sans-serif;
}
.buttonAl{
    ion-button{
        --background : rgba(248, 28, 28, 0.76);
     
    }
    font-family: 'Prompt', sans-serif;
}