<ion-header >
  <ion-toolbar class="ttt-ttt"  >
    <ion-title>
      Presto Delivery
      

    </ion-title>
  </ion-toolbar>
</ion-header>

<div  >
          <ion-button class="font" expand="full" (click) = "onAddorder()" >เพิ่มออเดอร์</ion-button>
        </div>

<div  >
          <ion-button class="font" expand="full" (click) = "onOrderList()" >ดูรายการ</ion-button>
        </div>

<div >
          <ion-button class="font" expand="full" (click) = "onLogout()" >Logout</ion-button>
      </div>


<ion-content>

</ion-content>
