<ion-header>
  <ion-toolbar class="colorBk">
    <ion-title>รายการอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div>
    <div>
    <ion-item float-left>
      ชื่อลูกค้า : บีม
    </ion-item>
     <ion-item float-right>
    กำลังดำเนินการ
    </ion-item>
  </div> <div>
    <ion-item float-left>
      สถานที่ : สุรนิเวศ 13
    </ion-item>
     <ion-item float-right>
    15/08/62
    </ion-item>
  </div>
  </div>
  </ion-card>

  <ion-card>
    <div>
    <div>
    <ion-item float-left>
      ชื่อลูกค้า : บีม
    </ion-item>
     <ion-item float-right>
    กำลังดำเนินการ
    </ion-item>
  </div> <div>
    <ion-item float-left>
      สถานที่ : สุรนิเวศ 13
    </ion-item>
     <ion-item float-right>
    15/08/62
    </ion-item>
  </div>
  </div>
  </ion-card>

  <ion-card>
    <div>
    <div>
    <ion-item float-left>
      ชื่อลูกค้า : บีม
    </ion-item>
     <ion-item float-right>
    กำลังดำเนินการ
    </ion-item>
  </div> <div>
    <ion-item float-left>
      สถานที่ : สุรนิเวศ 13
    </ion-item>
     <ion-item float-right>
    15/08/62
    </ion-item>
  </div>
  </div>
  </ion-card>
</ion-content>
