<ion-header>
  <ion-toolbar class="colorBk">
    <ion-title>รายการบิล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let items of billlist1">
    <ion-item  float-left>
  <table> <FONT SIZE="3">
    <tr class="size01" >
      <td>ชื่อลูกค้า : </td>
      <label> {{items.cusName}}</label>
    </tr>
    <tr>
      <td>ที่อยู่ : </td>
      <label> {{items.cusLocation}}</label>
    </tr></FONT>
    </table>
  </ion-item>
  <ion-item float-right>
      <table><FONT SIZE="3">
        <tr class="size01">
          <td>กำลังดำเนินการ</td>    
        </tr>
        <tr>
          <td>15/06/62</td>    
        </tr></FONT>
        </table>
      </ion-item>
</ion-card>

</ion-content>
