.btl{
    ion-button{
        --background : #289c19;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px;
    }
    font-family: 'Prompt', sans-serif;
  }  

  .btl2{
    ion-button{
        --background : #da1a1ac4;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px;
    }
    font-family: 'Prompt', sans-serif;
  } 

.bp1{
    font-family: 'Prompt', sans-serif;
    ion-button{
        --background : #EC5353;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px; 
    }
}
.bp2{
    ion-button{
        --background : #289c19;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px; 
    }
    font-family: 'Prompt', sans-serif;
}

.header01{
        --background:#EC6C1F;
        --color:#FFF;
        font-family: 'Prompt', sans-serif;
}
.sc010{
    
    height : 500px;
    font-family: 'Prompt', sans-serif;

}
.sc02{
    width : 140px;
    font-family: 'Prompt', sans-serif;
   
    
}
.font{
    font-family: 'Prompt', sans-serif;
}
.font2{
    --background:rgba(236, 31, 31, 0.822);
    font-family: 'Prompt', sans-serif;
}
.font3{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-size-adjust: 10px;
}
.btl{
    ion-button{
        --background : #289c19;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px;
    }
    font-family: 'Prompt', sans-serif;
  }  

  .btl2{
    ion-button{
        --background : #da1a1ac4;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px;
    }
    font-family: 'Prompt', sans-serif;
  } 

.bp1{
    font-family: 'Prompt', sans-serif;
    ion-button{
        --background : #EC5353;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px; 
    }
}
.bp2{
    ion-button{
        --background : #289c19;
       --width : 50px;
       --height : 100px;
       --border-radius: 300px; 
    }
    font-family: 'Prompt', sans-serif;
}