<ion-header>
  <ion-toolbar class="colorBk">
    <ion-title>ข้อมูลลูกค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div >
    <ion-label>ชื่อลูกค้า</ion-label>
     <ion-card>
     <ion-input class="sinput"> </ion-input>
    </ion-card>
    <ion-label>ที่อยู่ลูกค้า</ion-label>
    <ion-card>
        <ion-input class="sinput"> </ion-input>
       </ion-card>
    <ion-label>เบอร์โทรศัพท์</ion-label>
    <ion-card>
        <ion-input class="sinput"> </ion-input>
       </ion-card>
      </div>
   
</ion-content>
 <div class="buttonAl">
          <ion-button expand="full" target="_parent">ยืนยัน</ion-button>
          
        </div>