<ion-header >
  <ion-toolbar class="ttt-ttt"  >
    <ion-title>
      Presto Delivery
      

    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
    <ion-infinite-scroll>

<div class="card01">
      <ion-card >
        <div class="card02">
      <ion-card >
        <ion-item >
            <ion-label>เลือกร้านอาหาร</ion-label>
            <ion-select [(ngModel)]="market1" name="market1">
              <ion-select-option *ngFor="let market of marketlist1" value = "{{market.id}}">{{market.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
        <ion-label>
          กระเพรา
        </ion-label>
        <br /> 
        <ion-label>
            กระเพรา
          </ion-label>
          <br /> 
          <ion-label>
              กระเพรา
            </ion-label>
            <br /> 
            <ion-label>
                กระเพรา
              </ion-label>
              <br /> 
              <ion-label>
                  กระเพรา
                </ion-label>
                <br /> 
                <ion-label>
                    กระเพรา
                  </ion-label>
                  <br /> 
                  <ion-label>
                      กระเพรา
                    </ion-label>
        <div class="btl">
          <ion-button expand="full" (click) = "openModel1()" >เพิ่มอาหาร</ion-button>
        </div>
        </div>
      </ion-card>
    </div>
    

    <div class="card01">
        <ion-card >
          <div class="card02">
        <ion-card >
          <ion-item >
              <ion-label>เลือกร้านอาหาร</ion-label>
              <ion-select [(ngModel)] = "market2" name = "market2">
                <ion-select-option *ngFor="let market of marketlist1" value = "{{market.name}}">{{market.name}}</ion-select-option>
                
              </ion-select>
            </ion-item>
          </ion-card>
          <ion-label>
              กระเพรา
            </ion-label>
            <br /> 
            <ion-label>
                กระเพรา
              </ion-label>
              <br /> 
              <ion-label>
                  กระเพรา
                </ion-label>
                <br /> 
                <ion-label>
                    กระเพรา
                  </ion-label>
                  <br /> 
                  <ion-label>
                      กระเพรา
                    </ion-label>
                    <br /> 
                    <ion-label>
                        กระเพรา
                      </ion-label>
                      <br /> 
                      <ion-label>
                          กระเพรา
                        </ion-label>
          <div class="btl">
          <ion-button expand="full" (click) = "openModel2()" >เพิ่มอาหาร</ion-button>
        </div>
          </div>
        </ion-card>
      </div>

      <div class="card01">
          <ion-card >
            <div class="card02">
          <ion-card >
            <ion-item >
                <ion-label>เลือกร้านอาหาร</ion-label>
                <ion-select [(ngModel)] = "market3" name = "market3">
                  <ion-select-option *ngFor="let market of marketlist1" value = "{{market.name}}">{{market.name}}</ion-select-option>
                  
                </ion-select>
              </ion-item>
            </ion-card>
            <ion-label>
                กระเพรา
              </ion-label>
              <br /> 
              <ion-label>
                  กระเพรา
                </ion-label>
                <br /> 
                <ion-label>
                    กระเพรา
                  </ion-label>
                  <br /> 
                  <ion-label>
                      กระเพรา
                    </ion-label>
                    <br /> 
                    <ion-label>
                        กระเพรา
                      </ion-label>
                      <br /> 
                      <ion-label>
                          กระเพรา
                        </ion-label>
                        <br /> 
                        <ion-label>
                            กระเพรา
                          </ion-label>
            <div class="btl">
          <ion-button  expand="full"  (click) = "openModel3()" >เพิ่มอาหาร</ion-button>
          
        </div>
            </div>
          </ion-card>
        </div>
        

        
      


      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="กำลังโหลดข้อมูล…">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <div class="buttonAl">
    <ion-button expand="full" >ยืนยัน</ion-button>
    
  </div>